{% extends 'custom_base.html' %}
{% load i18n %}
{% block title %}{% trans "Instance Overview" %}{% endblock %}
{% block page_header %}{% endblock page_header %}
{% block main %}
{% include "horizon/common/_limit_summary.html" %}
{% if simple_tenant_usage_enabled %}
  {% include "horizon/common/_usage_summary.html" %}
  <div class="col-sm-12">
    <div class="tile">
      <div class="t-header bg-black th-alt">
        <div class="th-title">{% trans "Usage" %}</div>
      </div>
      <div class="t-body">
        {{ table.render }}
      </div>
    </div>
  </div>
  {% if meteringFeatureEnabled %}
    <div class="col-sm-12">
      <div class="tile">
        <div class="t-header bg-black th-alt">
          <div class="th-title">{{_("Costs")}}</div>
        </div>
        <div class="t-body">
          <div class="bg-black count-box">
            <div class="row">
              <div class="col-sm-3 col-xs-6">
                <div class="cb-item">
                  <h3> {% ifequal currency 1 %}
                    ￥
                  {% endifequal %}
                  {% ifequal currency 2 %}
                    $
                  {% endifequal %}
                  {% ifequal currency 3 %}
                    €
                  {% endifequal %}
                  {% ifequal currency 4 %}
                    £
                  {% endifequal %}
                  {{vcpuMoney|floatformat:2|default:'0'}}</h3>
                  <small>{{_("VCPU Costs")}}</small>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                <div class="cb-item">
                  <h3> {% ifequal currency 1 %}
                    ￥
                  {% endifequal %}
                  {% ifequal currency 2 %}
                    $
                  {% endifequal %}
                  {% ifequal currency 3 %}
                    €
                  {% endifequal %}
                  {% ifequal currency 4 %}
                    £
                  {% endifequal %}
                  {{vcpuMoney|floatformat:2|default:'0'}}</h3>
                  <small>{{_("Memory Costs")}}</small>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                <div class="cb-item">
                  <h3>
                  {% ifequal currency 1 %}
                    ￥
                  {% endifequal %}
                  {% ifequal currency 2 %}
                    $
                  {% endifequal %}
                  {% ifequal currency 3 %}
                    €
                  {% endifequal %}
                  {% ifequal currency 4 %}
                    £
                  {% endifequal %}
                  {{memoryMoney|floatformat:2|default:'0'}}</h3>
                  <small>{{_("Memory Costs")}}</small>
                </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                <div class="cb-item">
                  <h3>
                  {% ifequal currency 1 %}
                    ￥
                  {% endifequal %}
                  {% ifequal currency 2 %}
                    $
                  {% endifequal %}
                  {% ifequal currency 3 %}
                    €
                  {% endifequal %}
                  {% ifequal currency 4 %}
                    £
                  {% endifequal %}
                  {{memoryMoney|floatformat:2|default:'0'}}</h3>
                  <small>{{_("Total Costs")}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
<div class="col-sm-12">
  <div class="tile">
    <div class="t-header bg-black th-alt">
      <div class="th-title">{% trans "Newwork Topology" %}</div>
    </div>
    <div class="t-body">
      <noscript>
      {% trans "This pane needs javascript support." %}
      </noscript>
      
      {% include "project/network_topology/client_side/_balloon_container.html" %}
      {% include "project/network_topology/client_side/_balloon_device.html" %}
      {% include "project/network_topology/client_side/_balloon_port.html" %}
      {% include "project/network_topology/client_side/_balloon_net.html" %}
      {% include "project/network_topology/client_side/_balloon_instance.html" %}
      
      <div id="topologyCanvasContainer">
        <div class="nodata">{% blocktrans %}There are no networks, routers, or connected instances to display.{% endblocktrans %}</div>
      </div>
      <span data-networktopology="{% url 'horizon:project:network_topology:json' %}" id="networktopology"></span>
      <div id="topologyMessages"></div>
      
      <script type="text/javascript">
        if (typeof horizon.network_topology !== 'undefined') {
          horizon.network_topology.init();
        } else {
          addHorizonLoadEvent(function () {
            horizon.network_topology.init();
          });
        }
      </script>
    </div>
  </div>
</div>
{% endblock %}
