{% load branding i18n %}
{% load url from future %}
{% load context_selection %}
<!--<h1 class="brand"><a href="{% site_branding_link %}">{% site_branding %}</a></h1>
<div class="switcher_bar">
  <div class="dropdown context-selection">
    <button class="btn btn-default btn-topnav dropdown-toggle">
    {% show_overview %}
    </button>
    <div class="dropdown-menu topbar-dropdown-menu">
      <div class="context-lists">
        {% show_domain_list %}
        {% show_project_list %}
        {% show_region_list %}
      </div>
      <div class="footer">
        <a href="{% url 'horizon:identity:projects:index' %}">
          <span class="fa fa-list-ul"></span>
          {% trans "More Projects" %}
        </a>
      </div>
    </div>
  </div>
</div>
<div id="user_info" class="pull-right">
  <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex='1'>
    <button class="btn btn-default btn-topnav dropdown-toggle">
    <span class="fa fa-user"></span>
    {{ request.user.username }}
    <span class="caret"></span>
    </button>
    <ul id="editor_list" class="dropdown-menu topbar-dropdown-menu pull-right">
      <li>
        <a href="{% url 'horizon:settings:user:index' %}">
          <span class="fa fa-cog"></span>
          {% trans "Settings" %}
        </a>
      </li>
      {% if HORIZON_CONFIG.help_url %}
        <li>
          <a href="{{ HORIZON_CONFIG.help_url }}" target="_blank">
            <span class="fa fa-question-circle"></span>
            {% trans "Help" %}
          </a>
        </li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{% url 'logout' %}">
          <span class="fa fa-sign-out"></span>
          {% trans "Sign Out" %}
        </a>
      </li>
    </ul>
  </div>
  {% include "horizon/common/_region_selector.html" %}
</div> -->
<ul class="header-inner">
  <li class="logo">
    <br/>
    <h1 class="brand"><a href="{% site_branding_link %}">{% site_branding %}</a></h1>
    <!-- <a href=""><img src="img/logo3.png" alt=""></a> -->
    <!-- <div id="menu-trigger"><i class="zmdi zmdi-menu"></i></div> -->
  </li>
  <li class="pull-right dropdown hidden-xs" id="user_info">
    <br/>
    <btn class="btn bg-black btn-default btn-icon-text" href="" data-toggle="dropdown">
    <i class="zmdi zmdi-more-vert"></i>
    {{ request.user.username }}
    <span class="caret"></span>
    </btn>
    <ul id="editor_list" class="dropdown-menu dm-icon" role="menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'horizon:settings:user:index' %}"><i class="fa fa-cog"></i>{% trans "Settings" %}</a></li>
      {% if HORIZON_CONFIG.help_url %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ HORIZON_CONFIG.help_url }}" target="_blank"><i class="fa fa-question-circle"></i>{% trans "Help" %}</a></li>
      {% endif %}
      <li class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'logout' %}" target="_blank"><i class="fa fa-sign-out"></i>{% trans "Sign Out" %}</a></li>
    </ul>
    
    <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex='1'>
    </div>
    {% include "horizon/common/_region_selector.html" %}
  </li>
  <li class="hidden-xs dropdown pull-right">
    <br/>
    <div class="switcher_bar">
      <div class="dropdown context-selection">
        <button class="btn bg-black btn-default btn-icon-text dropdown-toggle">
        {% show_overview %}
        </button>
        <div class="dropdown-menu">
          <div class="context-lists">
            {% show_domain_list %}
            {% show_project_list %}
            {% show_region_list %}
          </div>
          <div class="footer">
            <a href="{% url 'horizon:identity:projects:index' %}">
              <span class="fa fa-list-ul"></span>
              {% trans "More Projects" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="pull-right hidden-xs">
    <div id="time">
      <span id="t-hours"></span>
      <span id="t-min"></span>
      <span id="t-sec"></span>
    </div>
  </li>
</ul>