{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Volumes" %}{% endblock %}
{% block page_header %}{% endblock page_header %}

{% block main %}
<!-- <div class="row">
  <div class="col-sm-12">
    {{ tab_group.render }}
  </div>
</div> -->
<div class="col-lg-12">
  <div class="tile">
    <div class="t-header bg-black th-alt">
      <div class="th-title">{% trans "Volumes" %}</div>
    </div>
    <div class="t-body">
      {{ tab_group.render }}
    </div>
  </div>
</div>
{% endblock %}
