{% load horizon i18n %}
{% load url from future %}

<ul class="side-menu">
{% for dashboard, panel_info in components %}
  {% if user|has_permissions:dashboard %}
<!--     {% if dashboard.slug == "admin" %}
    <dt>
      {{ dashboard.name }}
      <span class="fa pull-right"></span>
    </dt>
    {% else %}
    <dt>
    </dt>
    {% endif %} -->
    {% for heading, panels in panel_info.iteritems %}
      {% with panels|has_permissions_on_list:user as filtered_panels %}
      {% if filtered_panels %}
        {% for panel in filtered_panels %}
          {% if dashboard.slug == "project" %}
            {% if panel.slug in project_show_panel_list %}
              <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi zmdi-home"></i><span>{{ panel.name }}</span></a></li>
            {% endif %}
          {% else %}
            <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi zmdi-home"></i><span>{{ panel.name }}</span></a></li>
           {% endif %}
        {% endfor %}
      {% endif %}
      {% endwith %}
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
