{% load horizon i18n %}
{% load url from future %}

  <ul id="myTab" class="nav nav-tabs aside-tab">
{% for dashboard, panel_info in components %}
  {% if user|has_permissions:dashboard %}
    {% if dashboard.slug == "project" %}
   <li class="{% if current.slug == dashboard.slug %}active{% endif %}" id="aside-tab_project">
      <a href="#{{ dashboard.name }}" data-toggle="tab">
      {{ dashboard.name }}
      </a>
   </li>
    {% elif dashboard.slug == "admin" %}
      <li class="{% if current.slug == dashboard.slug or current.slug == "identity" %}active{% endif %}"id="aside-tab_admin">
        <a href="#{{ dashboard.name }}" data-toggle="tab">
        {{ dashboard.name }}
        </a>
       </li>
    {% else %}
    {% endif %}
  {% endif %}
{% endfor %}
    </ul>
      <div id="myTabContent" class="tab-content">
{% for dashboard, panel_info in components %}
  {% if user|has_permissions:dashboard %}
    {% if dashboard.slug == "project" %}
      <div class="tab-pane fade {% if current.slug == dashboard.slug %}in active{% endif %}" id="{{ dashboard.name }}">
      <ul class="side-menu">
    {% elif dashboard.slug == "admin" or dashboard.slug == "identity" %}
      <div class="tab-pane fade {% if current.slug == dashboard.slug or current.slug == "identity" %}in active{% endif %}" id="{{ dashboard.name }}">
      <ul class="side-menu">
    {% else %}
    {% endif %}
    {% for heading, panels in panel_info.iteritems %}
      {% with panels|has_permissions_on_list:user as filtered_panels %}
      {% if filtered_panels %}
        {% for panel in filtered_panels %}
          {% if dashboard.slug == "project" %}
            {% if panel.slug in project_show_panel_list %}
              <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi {{ icons|get_item:panel.slug }}" {% if current.slug == dashboard.slug     and current_panel == panel.slug %} style="color: #00FFFF" {% endif %}"></i><span>{{ panel.name }}</span></a></li>
            {% endif %}
          {% elif dashboard.slug == "admin" %}
            {% if panel.slug in admin_show_panel_list %}
              <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi {{ icons|get_item:panel.slug }}" {% if current.slug == dashboard.slug     and current_panel == panel.slug %} style="color: #00FFFF" {% endif %}"></i><span>{{ panel.name }}</span></a></li>
            {% endif %}
          {% elif dashboard.slug == "identity" %}
            {% if panel.slug in identity_show_panel_list and user|has_admin_permission:components %}
              <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi {{ icons|get_item:panel.slug }}" {% if current.slug == dashboard.slug     and current_panel == panel.slug %} style="color: #00FFFF" {% endif %}"></i><span>{{ panel.name }}</span></a></li>
            {% endif %}
          {% else %}
              <li><a href="{{ panel.get_absolute_url }}" {% if current.slug == dashboard.slug and current_panel == panel.slug %}class="active"{% endif %} tabindex="{{ forloop.counter }}" ><i class="zmdi {{ icons|get_item:panel.slug }}" {% if current.slug == dashboard.slug     and current_panel == panel.slug %} style="color: #00FFFF" {% endif %}"></i><span>{{ panel.name }}</span></a></li>
           {% endif %}
        {% endfor %}
      {% endif %}
      {% endwith %}
    {% endfor %}
    {% if dashboard.slug == "identity" or dashboard.slug == "project" %}
    </ul>
    </div>
    {% endif %}
  {% endif %}
{% endfor %}
    </div>
